*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left: 56px;
    margin-top: 56px;
}

.container{
    background-color: #f7e1c2;
    margin-bottom: 56px;
    height: 80px;
    text-align: center;
}
h1,h2,h3,h4,p,li{
    font-family: sans-serif;
}
h1,h4{
    color:#7a0f71;
}
h1{
    font-size:28px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
h2{
    font-size: 40px;
    color: rgb(112, 68, 11);
}
h3{
    font-size: 30px;
}
h4{
    font-size:20px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-size: 20px;
    line-height: 1.5;
}
li{
    font-size: 20px;
    color: #ce9121;
}
.related-post-author{
    font-size: 16px;
    font-weight: bold;
    margin:20px ;
}
.list-styling{
    list-style: none;
}
.aside-related-post{
    background-color: #f8e8c9;
    border-top: 5px solid #7a4a01;
    border-bottom: 5px solid #7a4a01;
    width: 500px;
}
li:first-child{
    font-weight: bold;
}
li:last-child{

    font-style: italic;
}
li:nth-child(even){
    color: red;
}
a{
    text-decoration: none;
}
a:hover{color: red;}
.image1{
    height:auto;
    width: 100%;
}
.image2{
    height:auto;
    width: 100%;
}
.image3{
    height:auto;
    width: 50%;
}
.image4{
    height:auto;
    width: 50%;
}
.image5{
    height: auto;
    width: 50%;
}
.global{
    width: 1000px;
    margin: 0;
}
